.container {
  padding: 30px 50px;
  width: 400px;
}

.full_row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 10px;
}

.shared_with {
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.shared_with_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 10px;
}
