.container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.section_title {
  font-weight: 500;
}
